.grid{
  clear: both;
  padding: 0 10px;

  &:after,
  &:before{
    display: block;
    content: ''
  }
  .grid-item{
    width: 18.5%;
    width: calc( 20% - 20px );
    box-sizing: border-box;
    float: left;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px;

    img{
      display: block;
      width: 100%;
      border-radius: 3px;
    }
  }
}
