// $info: #96ceb4;
// $infoRGB: (150,206,180);
// $default: #ffeead;
// $defaultRGB: rgb(255,238,173);
// #ff6f69
// (255,111,105)
// #ffcc5c
// (255,204,92)
// $primary: #88d8b0;
// $primaryRGB: rgb(136,216,176);


$default: #1A202C;
$primary: #1F7872;
$info: #72B095;
$warning: #DEDBA7;
$danger: #D13F31;

$black: $default;

$white: #fff;
